.spinner-overlay {
  position: fixed; /* Make it fixed to cover the whole screen */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(128, 128, 128, 0.5); /* Gray background with some transparency */
  z-index: 9999; /* High z-index to overlay other elements */
}

.spinner-container {
  height: 100%; /* Full height to center the spinner vertically */
}
