<style>
  .vertical-layout {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Space between each input-container */
    padding-bottom: 5px;
  }

  .input-container {
    display: flex;
    align-items: center;
  }

  .input-container label {
    width: 120px; /* Set a fixed width for labels */
    margin-right: 1rem;
  }

  .input-container input {
    flex: 1; /* Allows the input to expand and take up available space */
  }

  .form-button {
    padding-top: 10px;
    text-align: right;
  }
</style>

<form [formGroup]="departmentForm" (ngSubmit)="save()" autocomplete="off">
  <div>
    <div class="vertical-layout">
      <div class="input-container">
        <label>Department Code
          <validation-component [field]="'Code'" [validator]="validator"></validation-component>
        </label>
        <input id="disabled-input" type="text" formControlName="code" pInputText (focusout)="evaluateFieldFormula(ValidatorTriggerType.OnChange)"/>
      </div>

      <div class="input-container">
        <label>Department Name
          <validation-component [field]="'Name'" [validator]="validator"></validation-component>
        </label>        
        <input id="disabled-input" type="text" pInputText formControlName="name" (focusout)="evaluateFieldFormula(ValidatorTriggerType.OnChange)"/>
      </div>

      <div class="input-container">
        <label>Department Desc</label>
        <input id="disabled-input" type="text" pInputText formControlName="description" />
      </div>
    </div>
  </div>
  <div class="form-button">
    <button type="submit" class="btn btn-primary" [disabled]="isFormInvalid()">Save</button>
  </div>
</form>


