.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-top: 5%;
}

.login-container {
  width: 100%;
  max-width: 400px; /* Limit the maximum width of the container */
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.header {
  text-align: center; /* Center the header text */
  margin-bottom: 20px; /* Add some space below the header */
  width: 100%; /* Ensure the header takes the full width of the container */
}

.submit-button {
    text-align: center;
}
