<style>
  .action-button {
    border: 2px solid grey;
    border-radius: 25px;
    padding: 5px;
  }

  .div-border {
    border: 1px solid #D3D3D3;
    border-radius: 8px;
    padding: 5px;
  }
</style>

<div>
  <spinner-component [isSpinnerShow]="isLoad"></spinner-component>
</div>
<div>
  <div class="container-fluid">
    <p-toast position="bottom-right" life="100"></p-toast>
    <div class="row div-border">
      <div id="userListId">
        <div>
          Treatment List
          <p-badge value="{{dataCount}}" styleClass="p-mr-2"></p-badge>
        </div>
        <div class="button-user">
          <input class="btn btn-primary" type="button" value="Add Treatment" (click)="showModal()" style="border-radius: 5px">
        </div>
        <div class="full-height-table-container">
          <app-grid [columns]="gridColumn"
                    [value]="gridData"
                    [selectionMode]="'single'"
                    [dataKey]="gridDataKey"
                    [actionList]="gridAction"
                    [totalRecord]="dataCount"
                    (callbackActionTrigger)="handleAction($event)"
                    (callbackRecordSelected)="selectedGrid($event)"
                    (callbackSort)="handleSortData($event)"
                    (callbackPageChange)="handlePageChange($event)">

          </app-grid>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog header="{{formState}} Treatment" [modal]="true" [(visible)]="modalVisible" [style]="{ width: '50rem'}" [maximizable]="true">
  <treatment-lookup-modal [modalState]="formState"
                          [treatmentId]="treatmentId"
                          [modalVisible]="modalVisible"
                          (refreshAfterSaved)="refresh($event)">
  </treatment-lookup-modal>
</p-dialog>
