<form [formGroup]="treatmentForm" (ngSubmit)="save()" autocomplete="off">
  <div>
    <div class="horizontal-layout">
      <div class="input-container">
        <label>Treatment Code</label>
        <input id="disabled-input" type="text" formControlName="treatmentCode" pInputText />
      </div>

      <div class="input-container">
        <label>Treatment Name</label>
        <input id="disabled-input" type="text" pInputText formControlName="treatmentName" />
      </div>

      <div class="input-container">
        <label>Treatment Desc</label>
        <input id="disabled-input" type="text" pInputText formControlName="treatmentDesc" />
      </div>
    </div>

    <div class="horizontal-layout">
      <div class="input-container">
        <label>Treatment Price</label>
        <!--<input id="disabled-input" type="text" pInputText formControlName="treatmentPrice" />-->
        <p-inputNumber inputId="treatmentPrice" formControlName="treatmentPrice" [minFractionDigits]="2" prefix="RM "  [showButtons]="true"></p-inputNumber>
      </div>

      <div class="input-container">
        <label for="isActive">Is Active?</label>
        <p-checkbox formControlName="isActive" [binary]="true" inputId="isActive"></p-checkbox>
      </div>
    </div>
  </div>
  <div>
    <button type="submit" class="btn btn-primary">Save</button>
  </div>
</form>


