<style>
  .ellipsis-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px; /* Set the maximum width based on your requirement */
    width: 150px; /* Optional: fixed width */
  }
</style>

<p-table [columns]="columns" [value]="data" selectionMode="single" [(selection)]="selectedData"
         (onRowClick)="onRowSelect($event)" 
         styleClass="p-datatable-striped p-datatable-sm"
         [rows]="10" [scrollable]="true" scrollHeight="100%"
         [paginator]="true">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th style="min-width: 100px;" *ngFor="let col of columns">
        {{ col.header }}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData" (dblclick)="onRowDoubleClick(rowData)">
      <td style="min-width: 100px;" pTooltip="{{ rowData[col.field] }}" tooltipPosition="right" *ngFor="let col of columns">
        <div *ngIf="col.type == 'string'" class="ellipsis-text">{{ rowData[col.field] }}</div>
        <div *ngIf="col.type == 'bool'">
          <p-checkbox [(ngModel)]="rowData[col.field]" [binary]="true" [disabled]="true"></p-checkbox>
        </div>
        <div *ngIf="col.type == 'lookup'" class="ellipsis-text">{{ rowData[col.field]?.fieldDisplay }}</div>
      </td>
    </tr>
  </ng-template>
</p-table>
