<style>
  .action-button {
    border: 2px solid grey;
    border-radius: 25px;
    padding: 5px;
  }

  .div-border {
    border: 1px solid #D3D3D3;
    border-radius: 8px;
    padding: 5px;
  }

  .section-header {
    margin: 6px 6px 6px 0px;
  }

  .section-action-button {
    margin-bottom: 5px;
    /*border: 2px solid red;
    border-radius: 5px;*/
    padding: 5px 5px 5px 0px;
  }
</style>

<div>
  <!--<div>
    <spinner-component [isSpinnerShow]="isLoad"></spinner-component>
  </div>-->
  <div class="container-fluid">
    <p-toast position="bottom-right" life="100"></p-toast>
    <div class="row div-border">
      <div id="userListId">
        <div class="section-header">
          Patient List
          <p-badge value="2" styleClass="p-mr-2"></p-badge>
        </div>
        <div class="section-action-button">
          <input class="btn btn-outline-secondary btn-sm" type="button" value="Register Patient" (click)="addPatient()" style="border-radius: 5px">
        </div>
        <div class="full-height-table-container">
          <p-table [value]="patients"
                   styleClass="p-datatable-striped p-datatable-sm"
                   [rows]="10" [scrollable]="true" scrollHeight="100%"
                   [paginator]="true">
            <ng-template pTemplate="header">
              <tr>
                <th style="max-width: 100px;">Action</th>
                <th style="min-width: 100px;">Name</th>
                <th style="min-width: 100px;">Email</th>
                <th style="min-width: 100px;">Gender</th>
                <th style="min-width: 100px;">Contact No</th>
                <th style="min-width: 100px;">Address</th>
                <th style="min-width: 100px;">Active?</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-patient>
              <tr>
                <td style="max-width: 100px;">
                  <p-menu #menu [model]="getAction(patient)" [popup]="true" appendTo="body"></p-menu>
                  <i (click)="menu.toggle($event); $event.stopPropagation()" class="pi pi-ellipsis-h action-button"></i>
                </td>
                <td style="min-width: 100px;">{{ patient.firstName }} {{patient.lastName}}</td>
                <td style="min-width: 100px;">{{ patient.email }}</td>
                <td style="min-width: 100px;">{{ patient.gender }}</td>
                <td style="min-width: 100px;">{{ patient.contactNo }}</td>
                <td style="min-width: 100px;">{{ patient.address }}</td>
                <td style="min-width: 100px;">
                  <input *ngIf="patient.isActive" class="form-check-input" type="checkbox" value="" id="'patient'+patient.id" checked disabled>
                  <input *ngIf="!patient.isActive" class="form-check-input" type="checkbox" value="patient.isActive" id="'isActive'+patient.id" disabled>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog header="{{formState}} Patient" [modal]="true" [(visible)]="modalVisible" [style]="{ width: '50rem'}" [maximizable]="true">
  <patient-modal-component [modalState]="formState"
                          [patientId]="patientId"
                          [modalVisible]="modalVisible"
                          (refreshAfterSaved)="refresh($event)">
  </patient-modal-component>
</p-dialog>
